header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto; /* Adjust height as needed */
    background-color: #ffff;
    z-index: 1000; /* Ensure it stays above other content */
}

header .top-nav
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 0;
}

header .top-nav .logo img 
{
    width:150px;
}
header .top-nav .search
{
    width:600px;
    border:2px solid var(--main-color);
    position: relative;
    overflow: hidden;
    border-radius: 50px;

}

header .top-nav .search input 
{
    padding: 18px 175px 18px 20px;
    outline:none;
    border:none;
    width:100%;


}

header .top-nav .search button 
{
    position:absolute;
    top:0;
    right:0;
    outline: none;
    border:none;
    width:170px;
    background-color: var(--main-color);
    height:100%;
    font-size: 18px;
    color:var(--dark-color);
    cursor:pointer;

}


header .top-nav .cart_header
{
    display: flex;
    gap:10px;
    align-items:center;
}


header .top-nav .cart_header i
{
  color:var(--dark-color);
  font-size:20px;
  border:1px solid var(--border-color);
  width: 50px;
  height:50px;
  text-align: center;
  line-height:50px; /* 50px nfs twl el div 3l4an 4klha yb2a fe elnos */
   border-radius: 50%;
   cursor: pointer;
   transition: 0.3s ease;

}

header .top-nav .cart_header i:hover
{
    background-color:var(--main-color) ;
    color: #fff;
}

header .top-nav .cart_header 
{
    position: relative;   /* parent of .count_item lazem 3l4an hya absolute */
}
header .top-nav .cart_header .count_item
{
    position: absolute;      /*3l4an cart_header wndw relative*/
    background-color: var(--main-color);
    width: 20px;
    height:20px;
    border-radius: 50%;
    text-align:20px;
    line-height: 20px;
    font-size:13px;
    top:-5px;
    right:0;
    color: var(--dark-color);
    border:1px solid var(--border-color);

}

header .top-nav .cart_header .total_price p
{
   margin-bottom: 8px;  
}

header nav 
{
    border-top:1px solid var(--border-color);
}

header .links 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links ul{
    display:flex;
    gap:70px;
}

header .links ul li a
{
    color:var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header .links ul li
{
    position: relative;  /*de postion relative 3l4an h3ml 3leha after*/
    padding:20px 0;
}

header .links ul li::after
{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:0%;
    height:2px;
    background: var(--main-color);
    transition: 0.3s ease-in-out;

}
header .links ul li.active::after,
header .links ul li:hover::after
{
    width:100%;
    color: var(--main-color);
}

header .links .loging_signup a{
    color: var(--dark-color);
    padding:10px 20px;
    background-color: var(--main-color);
    margin-left: 10px;
    border-radius: 30px;
}
